/* You can add global styles to this file, and also import other style files */
@import "../node_modules/milligram/dist/milligram.css";
body {
  padding: 0%;
  margin: 0%;
  background-color: #1b1c24;
}
